@page "/auth"
@model ZipStock.Desktop.Pages.Authorization._AuthModel
@namespace ZipStock.Desktop.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZipStock - Authorization</title>
    <base href="~/auth" />
    <link href="css/authorization.css" rel="stylesheet" />
</head>
<body>
    <h1 class="shadow">ZipStock</h1>
    <div class="cat">
        <div class="ear ear--left"></div>
        <div class="ear ear--right"></div>
        <div class="face">
            <div class="eye eye--left">
                <div class="eye-pupil"></div>
            </div>
            <div class="eye eye--right">
                <div class="eye-pupil"></div>
            </div>
            <div class="muzzle"></div>
        </div>
    </div>
    <main class="active">
        <div class="title">
            Enter you email
        </div>
        <input type="email" placeholder="email@example.com" name="email" id="email" class="email">
        <input type="submit" value="Authorizate" class="submit" onclick="BtnClicked()">
        <div class="info">
            Enter your email to login to your account. If there is no account, he will create it.
        </div>
    </main>
    <main>
        <div class="code_verify show">
            <div class="title centered">
                Authorization Code
            </div>
            <div class="code_input">
                <input type="text" class="code_1" maxlength="1" placeholder="C">
                <input type="text" class="code_2" maxlength="1" placeholder="O">
                <input type="text" class="code_3" maxlength="1" placeholder="D">
                <input type="text" class="code_4" maxlength="1" placeholder="E">
            </div>
            <input type="submit" value="Login" class="submit" onclick="CheckCode()">
            <div class="info centered">
                An authorization code should have been sent to the mail. If you can't find the email, check it in spam
            </div>
        </div>
        <div class="code_loading">
            <div class="loader">
                <span class="loader__element"></span>
                <span class="loader__element"></span>
                <span class="loader__element"></span>
            </div>
        </div>
    </main>
    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="js/authorization.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>